.about-page {
	margin-top: 3em;
	text-align: center;
	background-image: url('./assets/images/home-background.png');
	background-repeat: no-repeat;
	h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}
	p {
		width: 700px;
		font-size: 1.1em;
		margin: 1em auto;
		&.introduction {
			font-size: 1.2em;
			text-align: center;
		}
		p {
			font-size: 1em;
		}
	}
	img {
		width: 100%;
		max-width: 700px;
		margin: 2em auto;
	}
}