.about {
	padding-top: 62px;
	padding-bottom: 100px;
	text-align: justify;
}

.about__intro {
	font-family: "Lucida";
	font-size: 20px;
	margin-bottom: 30px;
}

.about__img {
	width: 100%;
    margin-bottom: 30px;
}