.about-template {
	margin-top: 3em;
	text-align: center;
	p {
		width: 700px;
		font-size: 1.1em;
		margin: 1em auto;
		p {
			font-size: 1em;
		}
	}
	img {
		width: 100%;
		max-width: 700px;
		margin: 2em auto;
	}
}