.archival-records {
	.archival-list {
		margin-top: 3em;
		.filters {
			width: 300px;
			margin-right: 2em;
			box-sizing: border-box;
			&.active {
			  -webkit-transform: translateX(0%);
			  transform: translateX(0%);
			}
			> div {
			  input[type=text] {
				width: 100%;
				margin: 0.5em 0em;
				box-sizing: border-box;
			  }
			  .count {
				color: $red-primary;
				font-family: $font-primary;
				font-weight: 600;
			  }
			  .facets {
				max-height: 150px;
				overflow: hidden;
				margin-bottom: 0.5em;
				.facet {
				  display: block;
				  margin: 5px 0px;
				  color: black;
				  font-size: 0.9em;
				  .checkbox-anchor {
					text-decoration: none;
					color: black;
				  }
				}
				&.active {
				  max-height: 100%;
				}
			  }
			  fieldset {
				&:not(:first-of-type) {
				  margin: 1.5em 0em 1em 0em;
				}
				label {
				  // display: block;
				  margin: 0.5em 0;
				  cursor: pointer;
				}
			  }
			  h5, legend {
				text-transform: uppercase;
				margin-bottom: 0.5em;
			  }
			  .range {
				margin-bottom: 1.5em;
				.noUi-target {
				  box-shadow: none;
				}
				.noUi-horizontal {
				  height: 10px;
				  margin-top: 1em;
				  .noUi-handle {
					width: 30px;
					height: 30px;
					top: -10px;
				  }
				}
				.noUi-handle {
				  border-radius: 50%;
				  box-shadow: none;
				  cursor: pointer;
				  &:before {
					left: 12px;
					top: 9px;
					height: 10px;
					background: $red-primary;
				  }
				  &:after {
					left: 15px;
					height: 10px;
					top: 9px;
					background: $red-primary;
				  }
				  &:focus, &:hover {
					border: 1px solid $red-primary;
					outline: none;
				  }
				}
				.range-year {
				  width: 34px;
				}
				.default {
				  margin-left: 1.8em;
				}
			  }
			}
		}
		.index {
			display: grid;
			grid-template-columns: repeat(28, auto);
			gap: 1em;
			button.button-link {
				margin-bottom: 1em;
				border-bottom: 1px dotted white;
				&:first-of-type {
					margin-right: 1em;
				}
			}
		}
		.list {
			padding: 2em 3em;
			.list-header {
				margin-bottom: 1em;
				display: grid;
				grid-template-columns: 1fr 80px 150px 150px;
				gap: 1.5em;
				font-weight: 600;
				align-items: center;
			}
			.list-row {
				display: grid;
				grid-template-columns: 1fr 80px 150px 150px;
				gap: 1.5em;
				margin-bottom: 2em;
			}
			button.button-default {
				display: block;
				margin: 4em auto 2em auto;
			}
		}
		
	}
}

.archive__select {
	display: block;
	float: right;
	border-radius: 0;
	width: 120px;
	margin-top: -60px;
	text-transform: uppercase;
	color: $gray;
	border-color: $gray;
	padding: 8px;
	option {
		color: $black;
	}
	&:focus {
		background-color: lighten($gray, 10%);
	}
	@media only screen and (max-width: 768px) {
		margin-top: -35px;

	}
}

.arch-single {
	padding-bottom: 500px;
	@media only screen and (max-width: 768px) {
		padding-bottom: 200px;
	}
}

.arch-single__date {
	color: $white;
	display: inline-block;
	background-color: darken($gray,10%);
	padding: 5px 10px;
	margin-bottom: 60px;
	font-size: 14px;
	@media only screen and (max-width: 768px) {
		margin-bottom: 40px;
	}
}

.arch-single__desc-title {
	text-transform: uppercase;
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.arch-single__desc-text {
	font-size: 18px;
	margin-bottom: 80px;
	@media only screen and (max-width: 768px) {
		margin-bottom: 40px;
	}
}

.arch-single__img-title, .arch-single__meta-title {
	display: block;
	background-color: $maroon;
	color: $white;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	@media only screen and (max-width: 768px) {
		font-size: 26px;
	}
}

.arch-single__item {
	display: flex;
	justify-content: flex-start;
	padding: 15px 0;
	@media only screen and (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.arch-single__item-name {
	flex: 0 0 200px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	@media only screen and (max-width: 768px) {
		flex: 0;
		margin-bottom: 5px;
		text-align: left;
	}
}

.arch-single__item-content {
	font-size: 18px;
	a {
		text-decoration: underline;
	}
	a:focus {
		color: darken($gray, 20%);
	}
}

.before {
	&::before {
		content: '?';
		display: block;
		position: absolute;
		background-color: $gray;
		color: $white;
		padding: 3px 10px;
		border-radius: 100%;
		left: 70px;
		top: -3px;
	}
}

// .arch-list {
// 	@media only screen and (max-width: 768px) {
// 		.list-item {
// 			border: 1px solid $gray;
// 			margin-bottom: 15px;
// 			&:first-of-type {
// 				border: none;
// 				margin-bottom: 0;
// 				padding: 0;
// 			}
// 		}
// 		.list-row {
// 			display: flex;
// 			flex-direction: column;
// 			padding: 20px;
// 			padding-bottom: 0;
// 		}
// 		.list-data {
// 			padding-left: 20px;
// 		}
// 		.list-head:not(.list-head--hidden) {
// 			display: none;
// 		}
// 		.list-head--hidden {
// 			padding-left: 20px;
// 		}
// 	}
// }

.arch-single__img {
	margin-bottom: 50px;
}

.arch-single__img-wrap {
	border: 1px solid $gray;
	border-top: none;
	height: 600px;
	display: flex;
	@media only screen and (max-width: 1200px) {
		flex-direction: column;
		max-height: 1000px;
		height: 100%;
	}
	@media only screen and (max-width: 768px) {
		height: 800px;
	}
	@media only screen and (max-width: 425px) {
		height: 700px;
	}
}

.arch-single__img-plugin {
	flex: 1 1 50%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	position: relative;
	@media only screen and (max-width: 1200px) {
		max-height: 600px;
		height: 600px;
		flex: 0;
	}
	@media only screen and (max-width: 768px) {
		max-height: 400px;
	}
	@media only screen and (max-width: 425px) {
		max-height: 300px;
	}
}

.arch-single__img-text {
	flex: 1 1 50%;
	overflow-y: scroll;
	position: relative;
	@media only screen and (max-width: 1200px) {
		height: 400px;
	}
	@media only screen and (max-width: 425px) {
		height: 300px;
	}
}

.arch-single__img-text-title {
	display: block;
	color: $black;
	text-transform: uppercase;
	font-size: 33px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	border-bottom: 1px solid $gray;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white;
	box-shadow: 0 8px 20px 0 $white;
	@media only screen and (max-width: 768px) {
		font-size: 26px;
	}
}

.arch-single__img-text-content {
	height: 100%;
	padding: 20px;
}

.arch-single__img-text-para {
	margin-bottom: 20px;
}

.arch-single__navbar {
	position: absolute;
    width: 100%;
    background-color: $black;
    z-index: 1;
}

.arch-single__img-download, .arch-single__img-print {
	color: $white;
	position: absolute;
	z-index: 10;
	right: 20px;
	font-size: 20px;
	top: 5px;
	transition: $dur $ease;
	cursor: pointer;
	&:hover {
		color: $maroon-light;
	}
}

.arch-single__img-download {
	right: 50px;
}

.arch-single__zoom-in, 
.arch-single__zoom-out, 
.arch-single__expand,
.arch-single__previous,
.arch-single__next {
	color: $white;
	font-size: 25px;
	margin-right: 10px;
	margin-left: 5px;
	transition: $dur $ease;
	cursor: pointer;
	&:hover {
		color: $maroon-light;
	}
}

.arch-single__num {
	color: $white;
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
}
