.entity {
    .identity-description {
        margin-top: 4em;
        h1 {
            margin-top: 0;
        }
        h4 {
            margin-bottom: 0.5em;
        }
    }
    .identity-description, .descriptions-section {
        .description {
            display: grid;
            grid-template-columns: 1fr 0.4fr;
            gap: 2em;
            align-items: flex-start;
            .abstract {
                grid-row: 1 / span 2;
            }
        }
        .two-column-40-60 {
            column-gap: 1em;
        }
        div[class^="two-column"], .grey-column {
            .two-column-30-70, .two-column-40-60, .two-column-20-80  {
                column-gap: 1em;
                margin-bottom: 1em;
            }
        }
        div[class^="two-column"] {
            > h4 {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .entity {
        .identity-description {
            display: block;
        }
        .descriptions-section {
            .description {
                display: block;
            }
        }
    }
}