.footer {
	background-color: $maroon;
	max-width: 1050px;
	margin: 0 auto;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media only screen and (max-width: 768px) {
		padding: 10px 20px;
	}
}

.footer__img {
	max-width: 150px;
	@media only screen and (max-width: 768px) {
		max-width: 100px;
	}
	@media only screen and (max-width: 650px) {
		max-width: 50px;
	}
}
