.footer {
	background-color: $maroon;
	padding: 30px 50px;
	text-align: center;
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px !important;
	}
	div, a {
		max-width: 1050px;
		margin: 0 auto;
	}
	p {
		color: white;
		font-family: $font-second;
		font-size: 14px;
		a {
			&:before {
				content: "";
				background: none !important;
			}
			text-decoration: underline;
			color: white;
		}
		.delimiter {
			margin: 0px 10px;
		}
	}
	@media only screen and (max-width: 768px) {
		padding: 10px 20px;
	}
}

.footer__img {
	// max-width: 150px;
	max-height: 60px;
	@media only screen and (max-width: 768px) {
		max-width: 100px;
	}
	@media only screen and (max-width: 650px) {
		max-width: 50px;
	}
}
