header {
	padding: 1em 0em;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	z-index: 10;
	transition: 0.3s ease;
	.container {
		display: grid;
		column-gap: 3em;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		.skip-link {
			visibility: hidden;
			position: absolute;
			height: 0;
		}
		.header__logo {
			border-bottom: 0;
			img {
				width: 200px;
			}
			&:focus, &:hover {
				background-color: $primary-dark;
			}
		}
		.header__nav, .header__search {
			justify-self: flex-end;
		}
		.header__nav {
			.header__nav-list {
				display: flex;
				align-items: center;
				.header__nav-item {
					list-style: none;
					&:not(:last-of-type) {
						margin-right: 3em;
					}
					.header__link {
						text-decoration: none;
						border-bottom: 0;
						color: $grey-primary;
						font-size: 1.2em;
						
						font-family: $font-secondary;
						&.router-link-exact-active, &.router-link-active {
							color: $primary-dark;
							border-bottom: 1px solid $primary-dark;
						}
						&:hover, &:focus {
							color: $primary-dark;
							border-bottom: 1px solid $primary-dark;
						}
					}
				}
			}
			&.nav-active {
				transform: translateX(0%);
			}
		}
		.header__search {
			line-height: 1.35;
			position: relative;
			.search-label:before, .search-button {
			  font-family: $fontawesome;
			  font-weight: 600;
			  font-size: 1.5em;
			}
			.search-label {
			  position: absolute;
			  z-index: 11;
			  left: 0px;
			  top: 6px;
			  cursor: pointer;
			  &:before {
				content: '\f002';
				color: $primary;
			  }
			}
			.search-field {
				visibility: hidden;
				width: 30px;
				transition: ease-in 0.3s;
				font-size: 1em;
				margin: 0em;
				padding: 0.7em 0em;
				input[type=search] {
					border: 0;
					width: 100%;
					background-color: transparent;
					&:hover, &:focus {
						outline: none;
						background-color: transparent;
					}
				}
				.search-button {
					position: absolute;
					right: 0;
					top: 0;
					background: none;
					border: 0;
					color: $primary;
					z-index: 11;
					display: none;
					padding: 0.43em;
					&:hover, &:focus {
						background-color: white;
					}
				}
			}
			button.dotted-underline {
				visibility: hidden;
				position: absolute;
				right: 0;
				white-space: nowrap;
			}
			input[type=checkbox] {
			  display: none;
			}
			input[type=checkbox]:checked + label.search-label {
				left: 10px;
				&:before {
					content: '\f00d';
					color: $grey-primary;
					font-weight: 300;
				}
				+.search-field {
					width: 300px;
					visibility: visible;
					background-color: $grey-background-dark;
					box-shadow: 1px 1px 2px lighten($grey-light, 10%);
					// border-bottom: 2px solid $primary;
					padding: 0.7em 2.5em 0.7em 2.3em;
					.search-button {
						display: inline-block;
					}
					+ button.dotted-underline {
						visibility: visible;
						padding-top: 0.3em;
					}
			  	}
			}
		}
		.mobile__nav {
			display: none;
			div {
				width: 25px;
				height: 3px;
				background-color: $primary-dark;
				margin: 5px;
				transition: all 0.3s ease;
			}
			&.toggle {
				.line1 {
					transform: rotate(-45deg) translate(-6px, 6px);
				}
				.line2 {
					opacity: 0;
				}
				.line3 {
					transform: rotate(45deg) translate(-5px, -5px);
				}
			}
		}
	}
	&.fixed {
		background-color: white;
		box-shadow: 0px 1px 2px lighten($grey-light, 20%);
		padding: 0.3em 0em;
		.header__search {
			input[type=checkbox]:checked + label.search-label {
				+.search-field {
					box-shadow: none;
					+ button.dotted-underline {
						background-color: white;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	header {
		.container {
			.header__nav {
				.header__nav-list {
					flex-wrap: wrap;
					.header__nav-item {
						width: max-content;
						&:not(:last-of-type) {
							margin: 0 1em;
						}
						.header__link {
							font-size: 1.1em;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1050px) {
	header {
		padding: 0.5em 0em;
		.container {
			.header__logo {
				img {
					width: 160px;
				}
			}
			.header__nav {
				position: absolute;
				height: 100vh;
				right: 0px;
				top: 69px;
				min-width: 200px;
				background-color: $primary-dark;
				transform: translateX(100%);
				transition: transform 0.4s ease-in;
				padding-top: 20px;
				.header__nav-list {
					flex-direction: column;
					padding-left: 0.7em;
					padding-right: 0.7em;
					align-items: flex-start;
					height: 60vh;
    				justify-content: center;
					.header__nav-item {
						margin: 1em !important;
						.header__link {
							color: white;
							font-size: 1.2em;
							&.router-link-active {
								color: white;
								border-bottom: 1px dashed white;
							}
							&:hover {
								background-color: transparent;
								color: white;
								border-bottom: 1px dashed white;
							}
						}
					}
				}
			}
			.mobile__nav {
				display: block !important;
				cursor: pointer;
				margin: auto;
			}
		}
	}
}

@media only screen and (max-width: 780px) {
	header {
		.container {
			grid-template-columns: auto 1fr 40px;
			column-gap: 2em;
			.header__nav {
				top: 59px;
			}
			.header__search {
				position: unset;
				.search-label {
					position: relative;
					top: 0;
				}
				button.dotted-underline {
					transition: none;
				}
				.search-field {
					position: absolute;
					top: 3.89em;
					left: 0px;
					right: 0px;
					transition: width ease-out 0.3s;
					box-shadow: 0px 1px 2px lighten($grey-light, 10%);
				}
				input[type=search] {
					visibility: hidden;
				}
				input[type=checkbox]:checked + label.search-label {
					+ .search-field {
						width: 100%;
						box-sizing: border-box;
						padding: 1em 5em 1em 2.3em;
						input[type=search] {
							visibility: visible;
						}
						.search-button {
							top: 5px;
							right: 30px;
						}
						+ button.dotted-underline {
							right: 1.2em;
							white-space: nowrap;
							top: 8em;
						}
					}
				}
			}
		}
		&.fixed {
			.header__search {
				input[type=checkbox]:checked + label.search-label {
					+.search-field {
						box-shadow: 0px 1px 2px lighten($grey-light, 10%);
					}
				}
			}
		}
	}
}