.header {
	padding: 1em;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: 0.3s ease;
	.container {
		display: grid;
		column-gap: 3em;
		grid-template-columns: auto 1fr auto;
		align-items: center;

		.skip-link {
			visibility: hidden;
			position: absolute;
			height: 0;
		}
		.header__logo {
			border-bottom: 0;
			img {
				width: 200px;
			}
			&:focus, &:hover {
				background-color: darken($maroon, 50%);
			}
		}
		.header__nav, .header__search {
			justify-self: flex-end;
		}
		.header__nav {
			.header__nav-list {
				display: flex;
				align-items: center;
				.header__nav-item {
					&:not(:last-of-type) {
						margin-right: 3em;
					}
					.header__link {
						text-decoration: none;
						border-bottom: 0;
						color: $grey-primary;
						font-family: $font-secondary;
						font-size: 1.2em;
						&.router-link-exact-active {
							color: $red-dark;
							border-bottom: 1px solid $red-dark;
						}
						&:hover, &:focus {
							color: $red-dark;
							border-bottom: 1px solid $red-dark;
						}
					}
				}
			}
			&.nav-active {
				transform: translateX(0%);
			}
		}
		.header__search {
			position: relative;
			.search-label:before, .search-button {
			  font-family: $fontawesome;
			  font-weight: 600;
			  font-size: 1.5em;
			}
			.search-label {
			  position: absolute;
			  z-index: 11;
			  left: 0px;
			  top: 6px;
			  cursor: pointer;
			  &:before {
				content: '\f002';
				color: $red-primary;
			  }
			}
			.search-field {
			  visibility: hidden;
			  width: 30px;
			  transition: ease-in 0.3s;
			  font-size: 1em;
			  margin: 0em;
			  padding: 0.7em 0em;
			  label {
				input[type=search] {
					border: 0;
					width: 100%;
					background-color: transparent;
					&:hover, &:focus {
						outline: none;
						background-color: transparent;
					}
				}
			  }
			  .search-button {
				position: absolute;
				right: 8px;
			  	top: 10px;
				background: none;
				border: 0;
				color: $red-primary;
				z-index: 11;
				display: none;
				padding: 0;
			  }
			}
			button.dotted-underline {
				visibility: hidden;
				position: absolute;
				right: 0;
				white-space: nowrap;
			}
			input[type=checkbox] {
			  display: none;
			}
			input[type=checkbox]:checked + label.search-label {
				left: 10px;
				&:before {
					content: '\f00d';
					color: $grey-primary;
					font-weight: 300;
				}
				+.search-field {
					width: 300px;
					visibility: visible;
					background-color: $grey-background-dark;
					box-shadow: 0px 0px 3px lighten($grey-light, 10%);
					padding: 0.7em 2.5em 0.7em 2.3em;
					.search-button {
						display: inline-block;
					}
					+ button.dotted-underline {
						visibility: visible;
						padding-top: 0.3em;
					}
			  	}
			}
			
		}
		.mobile__nav {
			display: none;
			div {
				width: 25px;
				height: 2px;
				background-color: white;
				margin: 5px;
				transition: all 0.3s ease;
			}
			&.toggle {
				.line1 {
				transform: rotate(-45deg) translate(-5px, 5px);
				}
				.line2 {
				opacity: 0;
				}
				.line3 {
				transform: rotate(45deg) translate(-5px, -5px);
				}
			}
		}
	}
	&.fixed {
		background-color: white;
		box-shadow: 0px 1px 3px lighten($grey-light, 10%);
		padding: 0.3em 1em;
		.header__search {
			input[type=checkbox]:checked + label.search-label {
				+.search-field {
					box-shadow: none;
					+ button.dotted-underline {
						background-color: white;
					}
				}
			}
		}
	}

}



@media only screen and (max-width: 1200px) {
	header {
		padding: 0.5em;
		.container {
			.header__nav {
				opacity: 0;
				transform: translateX(200%);
				background-color: $maroon;
				top: 82px;
				text-align: center;
				font-size: 28px;
				left: 0;
				bottom: 0;
				width: 100%;
				color: $white;
				position: fixed;
				padding-top: 50px;
				padding-bottom: 20px;
				z-index: 10;
				transition: $dur $ease;
				.header__nav-list {
					flex-direction: column;
					padding-left: 0.7em;
					padding-right: 0.7em;
				}
			}
			.header__menu-button {
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	header {
		.container {
			.header__logo {
				img {
					width: 150px;
				}
			}
			.header__nav {
				top: 67px;
			}
		}
	}
}

// .header__nav-active {
// 	transform: translateX(0);
// 	opacity: 1;
// }

// .header__nav-item--search {
// 	@media only screen and (max-width: 1200px) {
// 		margin-right: 0;
// 	}
// }

// .header__link {
	
// 	@media only screen and (max-width: 1450px) {
// 		font-size: 16px;
// 		padding-left: 5px;
// 		padding-right: 5px;
// 	}
// 	@media only screen and (max-width: 1200px) {
// 		color: $white;
// 		display: block;
// 		margin-bottom: 10px;
// 		&:hover, &:focus {
// 			color: darken($white, 10%);
// 			&::before {
// 				content: none;
// 			}
// 		}
// 	}
// 	@media only screen and (max-width: 768px) {
// 		font-size: 16px;
// 	}
// }

// .router-link-exact-active {
// 	&::before {
// 		width: 100%;
// 	}
// }

// .header__search {
// 	display: flex;
// 	@media only screen and (max-width: 1200px) {
// 		width: 300px;
// 	}
// }

// .header__search-input {
// 	font-size: 14px;
// 	padding: 5px 10px;
// 	height: 20px;
// 	outline: none;
// 	max-width: 200px;
// 	border: 1px solid $gray;
// 	display: block;
// 	&:focus {
// 		border-color: $maroon;
// 	}
// 	@media only screen and (max-width: 1450px) {
// 		max-width: 120px;
// 	}
// 	@media only screen and (max-width: 1200px) {
// 		width: 300px;
// 		max-width: 100%;
// 		border: none;
// 		&:focus {
// 			border-color: none;
// 		}
// 	}
// }

// .header__search-btn {
// 	height: 32px;
// 	border: none;
// 	color: $white;
// 	background-color: $maroon;
// 	padding-left: 10px;
// 	padding-right: 10px;
// 	outline: none;
// 	transition: $dur $ease;
// 	&:hover, &:focus{
// 		background-color: $maroon-light;
// 	}
// 	@media only screen and (max-width: 1200px) {
// 		background-color: $white;
// 		color: $maroon;
// 		height: 30px;
// 		font-size: 25px;
// 		&:hover {
// 			color: $maroon-light;
// 			background-color: $white;
// 		}
// 	}
// }