.home {
	background-image: url('./assets/images/home-bkg.png');
	padding-top: 80px;
}

.home__top {
	padding-bottom: 130px;
}

.home__stats {
	background-color: $white;
	border: 1px solid $gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	padding: 57px 50px 80px;
	margin-right: 20px;
	margin-left: 20px;
	@media only screen and (max-width: 768px) {
		padding-bottom: 30px;
	}
}

.home__stats-group {
	text-align: center;
	@media only screen and (max-width: 1200px) {
		width: 50%;
		margin-bottom: 30px
	}
	@media only screen and (max-width: 768px) {
		width: 100%;
		text-align: center;
	}
}

.home__stats-num {
	display: block;
	color: $maroon-light;
	font-size: 45px;
	line-height: 45px;
	@media only screen and (max-width: 768px) {
		font-size: 40px;
	}
}

.home__stats-text {
	display: block;
	color: $gray;
	font-size: 14px;
	text-transform: uppercase;
	font-family: $font-second;
	margin-bottom: 5px;
	@media only screen and (max-width: 768px) {
		font-size: 20px;
	}
}

.home__stats-year {
	display: block;
	color: $maroon-light;
	font-size: 20px;
}

.home__updated {
	background-color: $maroon;
	color: $white;
	padding: 7px;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto 40px;;
	transform: translateY(-50%);
}

.home__updated-text {
	font-size: 12px;
	font-family: $font-second;
}

.home__article-title {
	display: block;
	text-transform: uppercase;
	color: $maroon;
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
	@media only screen and (max-width: 768px) {
		font-size: 22px;
		margin-bottom: 20px;
	}
}

.home__article-content {
	background-color: $white;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	padding-top: 38px;
	padding-bottom: 25px;
	@media only screen and (max-width: 768px) {
		margin-right: 20px;
		margin-left: 20px;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;
		padding-top: 25px;
	}
}

.home__article-para {
	font-family: $font-second;
	color: $gray;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 27px;
}

.home__article-read {
	display: block;
	text-transform: uppercase;
	color: $black;
	text-align: center;
	font-size: 20px;
	font-family: $font-second;
	position: relative;
}
