.records {
	.archival-list, .entity-list {
		margin-top: 3em;
		.filters {
			margin-top: 4em;
			box-sizing: border-box;
			min-width: 255px;
			&.active {
			  -webkit-transform: translateX(0%);
			  transform: translateX(0%);
			}
			input[type=text] {
				width: 100%;
				margin: 0.5em 0em;
				box-sizing: border-box;
			}
			.count {
				color: $primary;
				font-family: $font-primary;
			}
			.facets {
				margin-bottom: 0.5em;
				.facet {
					display: block;
					margin: 7px 0px;
					color: black;
					font-size: 0.95em;
					line-height: 1.4em;
					.checkbox-anchor {
						text-decoration: none;
						color: black;
					}
				}
				&.active {
					max-height: 100%;
				}
			}
			fieldset {
				position: relative;
				&:not(:first-of-type) {
					margin: 1em 0em;
				}
				label {
					// display: block;
					margin: 0.5em 0;
					cursor: pointer;
				}
				.toggle-checkbox {
					display: none;
				}
				.toggle-label {
					position: absolute;
					right: 0;
					top: 0;
					margin: 0;
					width: 100%;
					text-align: right;
					&:after {
						content: '\f078';
						font-family: $fontawesome;
						font-weight: 600;
						color: $grey-light;
					}
				}
				.toggle-section {
					display: none;
				}
				.toggle-checkbox:checked + .toggle-label {
					&:after {
						content: '\f077';
						color: black;
					}
					+.toggle-section {
						display: block;
						
					}
				}
				legend {
					padding-bottom: 0.3em;
					margin-bottom: 0.3em;
					font-weight: 600;
					border-bottom: 1px solid lighten($grey-light, 30%);
					width: 100%;
				}
			}
			> div > label {
				&:first-of-type {
					margin-top: 2em;
				}
				margin: 1em 0;
				display: block;
			}
			.range {
				margin-bottom: 2.5em;
				legend {
					border-bottom: 0;
					padding: 0;
					margin: 0;
				}
				.noUi-target {
					box-shadow: none;
				}
				.noUi-horizontal {
					height: 10px;
					margin-top: 1em;
					.noUi-handle {
						width: 30px;
						height: 30px;
						top: -10px;
					}
				}
				.noUi-handle {
					border-radius: 50%;
					box-shadow: none;
					cursor: pointer;
					&:before {
						left: 12px;
						top: 9px;
						height: 10px;
						background: $primary;
					}
					&:after {
						left: 15px;
						height: 10px;
						top: 9px;
						background: $primary;
					}
					&:focus, &:hover {
						border: 1px solid $primary;
						outline: none;
					}
				}
				.button-outline {
					margin-left: 1em;
				}
			}
		}
		.selected-facets {
			margin-bottom: 1em;
			.facet {
				background-color: $primary;
				color: white;
				padding: 0.3em 0.5em;
				display: inline-block;
				margin-right: 1em;
				margin-bottom: 1em;
				border-radius: 0.2em;
				input[type=checkbox] {
					display: none;
				}
				&:before {
					content: '\f00d';
					font-weight: 300;
					font-family: $fontawesome;
					margin-right: 0.3em;
				}
				&:last-of-type {
					margin-right: 2em;
				}
			}
			.clear-filters {
				color: $primary;
				padding: 0;
				background-color: transparent;
				width: 120px;
				&:before {
					content: '\f00d';
					font-family: $fontawesome;
					margin-right: 7px;
					font-weight: 300;
					display: inline-block;
				}
				&:focus, &:hover {
					background-color: $grey-background-dark;
					border-bottom: 1px dotted $primary;
				}
			}
		}
		.flex {
			flex-wrap: nowrap;
			.letterIndex {
				display: grid;
				grid-template-columns: repeat(28, auto);
				gap: 1em;
				width:100%;
				button.button-link {
					margin-bottom: 1em;
					border-bottom: 1px dotted white;
					&:hover, &:focus {
						font-weight: 600;
					}
					&:first-of-type {
						margin-right: 1em;
					}
				}
			}
			button.filter {
				margin-left: 1em;
			}
		}
		.list {
			padding: 2em 3em;
			a {
				line-height: 1.4em;
				border: 0;
				&:hover, &:focus {
					border-bottom: 1px dotted $primary;
				}
			}
			.list-header {
				margin-bottom: 1em;
				display: grid;
				gap: 1.5em;
				font-weight: 600;
				align-items: center;
			}
			.list-row {
				display: grid;
				gap: 1.5em;
				margin-bottom: 2em;
			}
			button.button-primary {
				display: block;
				margin: 4em auto 2em auto;
			}
		}
	}
	.archival-list .list .list-row, .archival-list .list .list-header {
		grid-template-columns: 1fr 0.4fr;
		.details {
			display: grid;
			grid-template-columns: 80px 150px 150px;
			grid-gap: 1em;
		}
	}
	.entity-list .list .list-row, .entity-list .list .list-header {
		margin-bottom: 1.3em;
		grid-template-columns: 1fr 0.3fr;
		.details {
			display: grid;
			grid-template-columns: 80px 180px;
			grid-gap: 1em;
		}
	}
}

@media only screen and (max-width: 1120px) {
	.records {
		.archival-list, .entity-list {
			.two-column-20-80 {
				display: block;
			}
			.filters {
				max-width: 400px;
				position: fixed;
				margin: 0;
				margin-top: 55px;
				height: 100vh;
				right: 0;
				top: 0;
				min-width: 200px;
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
				-webkit-transition: -webkit-transform 0.4s ease-in;
				transition: -webkit-transform 0.4s ease-in;
				transition: transform 0.4s ease-in;
				transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
				background-color: white;
				padding: 2em 3em;
				box-shadow: 0px 1px 3px lighten($grey-light, 20%);
				overflow-y: scroll;
				> div {
					margin-top: 10px;
					margin-bottom: 20px;
					overflow-y: auto;
					height: 80vh;
					border-bottom: 1px solid $grey-light;
					padding-right: 10px;
				}
				.filter-button {
					background: transparent;
					border: none;
					padding: 0;
					font-size: 1em;
					color: $primary;
					margin-right: 0;
					margin-left: auto;
					border-bottom: 1px dashed $grey-light;
					&:before {
						content: '\f00d';
						margin-right: 7px;
						font-family: $fontawesome;
						font-weight: 300;
						display: inline-block;
					}
					&:hover, &:focus {
						border-bottom: 1px dashed $primary;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1120px) {
	.records {
		.archival-list, .entity-list {
			.flex {
				.letterIndex {
					display: block;
					overflow-x: scroll;
					white-space: nowrap;
					.button-link {
						display: inline-block;
						width: 35px;
						margin-bottom: 0.5em;
						margin-top: 0.5em;
					}
				}
			}
		}
	}
}
			

@media only screen and (max-width: 900px) {
	.records {
		.archival-list, .entity-list {
			.list {
				.list-header {
					display: none;
				}
				.list-row {
					.details {
						display: block;
						span {
							display: block;
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 750px) {
	.records {
		.archival-list, .entity-list {
			.list {
				.list-row {
					display: block;
					.details {
						margin-top: 0.5em;
					}
				}
			}
		}
	}
}