.secondary {
    .secondary-page {
        .loader {
            margin: 5em auto;
        }
        h1 {
            font-size: 2em;
            margin-bottom: 1em;
        }
        ul {
            margin-left: 1em;
            li {
                list-style: unset;
                line-height: 1.4em;
            }
        }
    }
}