body {
	line-height: 1.35em;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background-color: #FCFCFC;
	.mgn-left {
		margin-left: 0.5em !important;
	}
	.mgn-right {
		margin-right: 0.5em !important;
	}
	main {
		min-height: 60vh;
		padding-top: 6em;
		.display-mobile {
			display: none;
		}
	}
	.container {
		width: 90%;
		max-width: 1600px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.flex {
		display: flex;
		flex-wrap: wrap;
	}
	div[class^="two-column"] {
		display: grid;
		column-gap: 6em;
		row-gap: 3em;
		align-items: flex-start;
	}
	.two-column-50-50 {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	.two-column-30-70 {
		grid-template-columns: 0.5fr 1fr;
	}
	.two-column-40-60 {
		grid-template-columns: 0.6fr 1fr;
	}
	.two-column-20-80 {
		grid-template-columns: 0.27fr 1fr;
		column-gap: 4em;
	}
	.two-column-70-30 {
		grid-template-columns: 1fr 0.5fr;
		column-gap: 4em;
	}
	.related-records {
		margin: 4em 0;
	}
	.related-flex {
		display: flex;
		flex-wrap: wrap;
		h3 {
			width: 100%;
		}
	}
	.grey-column {
		background-color: $grey-background-light;
		box-shadow: 0px 2px 2px lighten($grey-light, 20%);
		padding: 2em;
		margin-bottom: 1em;
		h2, h3, h4 {
			margin-top: 0;
		}
	}
	.column-delimiter {
		column-gap: 3em;
		> div:first-of-type{
			padding-right: 3em;
			border-right: 1px solid $grey-background-dark;
		}
	}
	.delimiter {
		margin: 0em 1em;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			list-style-image: none;
		}
	}
	ol {
		padding-left: 1em;
		li {
			list-style: auto;
			margin-bottom: 1em;
			line-height: 1.4em;
		}
	}
	.inline-list {
		margin-top: 2em;
		border-bottom: 3px solid $primary;
		display: flex;
		align-items: center;
		.inline-tabs {
			.inline-tab {
				display: inline-block;
				padding: 0.5em 1.5em;
				border-top-left-radius: 0.3em;
				border-top-right-radius: 0.3em;
				transition: 0.2s ease-in;
				cursor: pointer;
				&:first-of-type {
					margin-left: 2em;
				}
				&:hover, &:focus {
					background-color: $grey-background-dark;
					color: $primary;
	
				}
				&.active {
					background-color: $primary;
					color: white;
				}
			}
		}
	}
	.hierarchy {
		max-width: 1200px;
		h2 {
			margin-bottom: 1em;
		}
		div[class*='-level'] {
			font-size: 1em;
			position: relative; 
			&:not(.parent-level) {
				display: none;
				&:before {
					content: '';
					border-top: 1px dashed $grey-light;
					position: absolute;
					height: 100%;
					width: 10px;
					top: 11px;
					left: -11px;
				}
			}
			&.parent-level > .fieldset-body > .hierarchy-template > .child-level
				> .fieldset-header > span:first-of-type {
					min-width: 26px;
			}
		}
		.hierarchy-header {
			margin-bottom: 1em;
			display: grid;
			grid-template-columns: 26px 1fr 200px;
			gap: 0.8em;
			font-weight: 600;
		}
		span.record-details {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1em;
			font-size: 0.92em;
			line-height: 1.4em;
		}
		.hierarchy-template {
			.fieldset-header {
				margin-bottom: 1em;
				display: grid;
				grid-template-columns: 26px 1fr 200px;
				gap: 0.8em;
				position: relative;
				> span {
					a {
						white-space: pre-line;
					}
				}
				.browsed-item {
					background-color: $grey-background-dark;
					border-left: 5px solid $primary;
					border-top-left-radius: 0.2em;
					border-bottom-left-radius: 0.2em;
					padding: 2px 8px 0px 8px;
				}
				.toggle-tab-button {
					z-index: 5;
					position: relative;
					background-color: lighten($grey-light, 33%);
					-webkit-border-radius: 0.2em;
					-moz-border-radius: 0.2em;
					border-radius: 0.2em;
					height: 26px;
					&:after{
						font-family: $fontawesome;
						content: "\f078";
						font-weight: 700;
						color: $grey-primary;
					}
					&.active {
						background-color: $primary;
						&:after{
							font-family: $fontawesome;
							content: "\f077";
							font-weight: 700;
							color: white;
						} 
					}
				}
			}
			.fieldset-body {
				margin-left: 25px;
				transition: 0.3s ease;
				opacity: 0;
				.subitems ul li {
					margin: 0.3em 0;
				}
				&.expand {
					opacity: 1;
					&:before {
						content: '';
						border-left: 1px dashed $grey-light;
						position: absolute;
						height: 100%;
						width: 30px;
						top: 0;
						left: 13px;
					}
					> div[class$='-level'] {
						display: block;
					}
				}
			}
		}
	}

	.carousel-template {
		.featured-card {
			width: 95%;
			display: grid;
			grid-template-columns: 47% 53%;
			height: 340px;
			box-shadow: 0px 2px 2px lighten($grey-light, 20%);
			.featured-card-image {
				height: inherit;
				img {
					height: inherit;
					object-fit: cover;
					width: 100%;
				}
			}
			.featured-card-description {
				background-color: $grey-background-light;
				padding: 2em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				transition: 0.3s ease;
				.dotted-underline {
					display: inline-block;
					margin-top: 1em;
				}
				p {
					margin-bottom: 0;
				}
			}
		}
	}

	input,
	select,
	textarea {
		margin: 0;
		border: 1px solid $grey-light;
		background: white;
	}

	input[type=text], input[type=number], textarea {
		padding: 0.5em 0.7em;
	}

	input[type=checkbox] {
		margin-right: 0.5em;
	}
	
	.loader {
		border: 5px solid $grey-background-dark;
		border-radius: 50%;
		border-top: 5px solid $primary;
		width: 3em;
		height: 3em;
		animation: spin 1.5s linear infinite;
		margin: 0 auto;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1200px) {
	body {
		div[class^="two-column"] {
			column-gap: 3em;
		}
	}
}

@media only screen and (max-width: 1120px) {
	body {
		main {
			.mobile-none {
				display: none !important;
			}
			.display-mobile {
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	body {
		.inline-list {
			display: block;
			overflow-x: scroll;
			white-space: nowrap;
			.inline-tabs {
				display: inline-block;
			}
		}
		.hierarchy {
			.hierarchy-header {
				display: none;
			}
			.hierarchy-template {
				.fieldset-header {
					grid-template-columns: 26px 1fr 100px;
				}
			}
			span.record-details {
				display: block;
				span {
					display: block;
				}
			}
		} 
		.carousel-template {
			.featured-card {
				display: block;
				height: auto;
				.featured-card-image {
					height: 200px;
				}
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	body {
		.hierarchy {
			.hierarchy-template {
				.fieldset-header {
					grid-template-columns: 26px 1fr;
				}
			}
			span.record-details {
				display: none;
			}
		}
	}
}