.container {
	max-width: 1490px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.container-wide {
	max-width: 1810px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.overflow {
	overflow: hidden;
}
