body {
	font-family: $font-primary;
	font-size: 15px;
}

h1 {
	font-family: $font-secondary;
	font-size: 1.8em;
	color: $red-primary;
	font-weight: 300;
	&.page-title {
		margin-top: 1em;
	}
}

h2 {
	font-family: $font-secondary;
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 0.5em;
	display: inline-block;
	a {
		text-decoration: none;
		color: inherit;
		border-bottom: 0;
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}

h3 {
	font-family: $font-primary;
	font-size: 1.2em;
	font-weight: 600;
}

p {
	margin-top: 0;
	line-height: 1.4em;
	text-align: left;
}

.highlight {
	font-weight: 600;
}

.red-highlight {
	color: $red-primary;
}

input {
	font-family: $font-primary;
	font-size: 1em;
}

.breadcrumbs {
	display: flex;
	margin-top: 1em;
	.breadcrumbs__link {
		margin-right: 2em;
		position: relative;
		&:after {
			content: '\f0da';
			font-family: $fontawesome;
			font-weight: 600;
			color: lighten($grey-light, 20%);
			position: absolute;
			top: 0.10em;
			right:-1.25em;
		}
	}
}


