button, input[type=submit], input[type=button] {
	font-family: $font-primary;
	transition: 0.2s ease;
	border: 0;
	&.button-link {
		background-color: transparent;
		margin: 0;
		padding: 0;
		color: $primary;
		&.active {
			font-weight: 600;
			border: 1px dotted $primary !important;		
		}
	}
	&.button-outline {
		border: 1px solid $primary;
		background-color: transparent;
		margin: 0;
		padding: 0.5em 1.2em;
		color: $primary;
		border-radius: 0.2em;
		&:hover, &:focus {
			background-color: $primary;	
			color: white;
		}
	}
	&.button-primary {
		background-color: $primary;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		border-radius: 0.2em;
		border-bottom: 0;
		margin-bottom: 1em;
		white-space: nowrap;
		&.filter{
			padding: 0.5em 1em;
			&:after {
				content: '\F0B0';
				font-family: $fontawesome;
				font-weight: 300;
			}
		}
		&:not(:last-of-type) {
			margin-right: 1em;
		}
		&:hover, &:focus {
			background-color: $primary-dark;
			border-bottom: 0;
		}
	}
	&.slider-arrow {
		background-color: white;
		border-radius: 50%;
		font-size: 2.5em;
        transition: 0.3s ease;
		font-family: $fontawesome;
		font-weight: 300;
		&.next, &.prev {
			position: absolute;
			transition: 0.2s ease;
			color: $secondary;
			top: 48%;
		}
		&.next {
			right: 0.2em;
			padding: 0.1em 0.37em 0.1em 0.42em;
		}
		&.prev {
			left: -0.6em;
			padding: 0.1em 0.442em 0.1em 0.37em;
		}
		&:hover, &:focus {
			background-color: $primary-dark;
			&.next, &.prev {
				color: white;
				outline: none;
			}
		}
	}
	&:hover {
		outline: none;
	}
	&:disabled {
		cursor: auto !important;
		color: $grey-light !important;
		background-color: $grey-background-dark !important;
		&:hover, &:focus {
			background-color: $grey-background-dark !important;
			color: $grey-light !important;
			font-weight: 300 !important;
		}
	}
}

button.small, a.small {
	padding: 0.3em 1em 0.4em 1em;
	font-size: 1em;
}

button.large, a.large {
	padding: 0.8em 1.3em;
	box-shadow: 0px 0px 4px lighten($grey-light, 20%);
}

.arrow:after {
	content: '\f105';
	display: inline-block;
	font-family: $fontawesome;
	color: inherit;
	font-size: 1.5em;
	vertical-align: middle;
	padding-left: 0.4em;
	font-weight: 200;
}

.show-checkbox {
	display: none;
}
.show-all {
	display: inline;
	color: $primary;
	text-decoration: none;
	font-size: 0.9em;
	border-radius: 0.2em;
	transition: 0.4s ease-in;
	box-sizing: border-box;
	cursor: pointer;

	margin: 0.5em 0 1em 0;
	&:before {
		content: 'Show all ';
	}
	&:hover {
		background-color: $grey-background-light; 
	}
}
.show-checkbox:checked + label.show-all {
	&:before {
		content: 'Show less ';
	}
}

.dotted-underline {
	border-bottom: 1px dotted $grey-light !important;
	&:hover, &:focus {
		border-bottom: 1px dotted $primary !important;
	}
}

a {
	color: $secondary;
	border-bottom: 1px dotted $grey-light;
	text-decoration: none;
	transition: 0.2s ease;
	&:hover, &:focus {
		background-color: $grey-background-dark;
		border-bottom: 1px dotted $primary;
		outline: none;
	}
	&.link-button-primary {
		display: inline-block;
		background-color: $primary;
		color: white;
		text-decoration: none;
		border-radius: 0.2em;
		border-bottom: 0;
		margin-bottom: 1em;
		white-space: nowrap;
		&:not(:last-of-type) {
			margin-right: 1em;
		}
		&:hover, &:focus {
			background-color: $primary-dark;
			border-bottom: 0;
		}
	}
	&.link-button-grey {
		background-color: $grey-background-dark;
		color: $secondary;
		text-decoration: none;
		border-radius: 0.2em;
		border-bottom: 0;
		padding: 0.3em 1em 0.5em 1em;
		margin-bottom: 1em;
		font-weight: 500;
		white-space: nowrap;
		&:not(:last-of-type) {
			margin-right: 1em;
		}
		&:hover, &:focus {
			border-bottom: 0;
			background-color: darken($grey-background-dark, 3%);
		}
	}
}

.slick-arrow {
	z-index: 8;
	&.slick-prev:before, &.slick-next:before {
		position: absolute;
		transition: 0.2s ease;
		color: $secondary;
		top: -0.3em;
		background-color: white;
		border-radius: 50%;
		font-family: $fontawesome;
		font-weight: 300;
		font-size: 45px;
		opacity: 1;
	}
	&.slick-prev:before {
		content: '\f104';
		right: -0.6em;
		padding: 0.01em 0.35em 0.01em 0.27em;
	}
	&.slick-next:before {
		content: '\f105';
		left: -0.6em;
		padding: 0.01em 0.27em 0.01em 0.35em;
	}
	&:hover, &:focus {
		&.slick-prev:before, &.slick-next:before {
			color: white;
			background-color: $primary-dark;
			outline: none;
		}
	}
}

@media only screen and (max-width: 800px) {
	a.link-button-primary, a.link-button-grey {
		white-space: unset;
	}
}
